.env
backend/.env
**/.env
backend/.env.staging
backend/.env.production
backend/.env.development
backend/__pycache__
backend/routes/__pycache__
backend/utils/__pycache__
backend/coral_uploads
backend/coral_uploads/*


# Test files
backend/test_sendgrid.py
**/test_sendgrid.py

# Elastic Beanstalk
.elasticbeanstalk/
backend/.elasticbeanstalk/
**/.elasticbeanstalk/